
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(circle at top, #1b2735, #090a0f),
        repeating-linear-gradient(
            45deg,
            rgba(0,255,255,0.02) 0px,
            rgba(0,255,255,0.02) 1px,
            transparent 1px,
            transparent 20px
        );

    font-family: "Segoe UI", Arial, sans-serif;
    overflow: hidden;
}

/*gamecontainer*/
.game-container {
    width: 1200px;
    height: 800px;
    position: relative;

    /* Background animé */
    background-image: url("images/Sol.gif");
    background-size: cover;
    background-position: center;

    /* Bordure cyber */
    border-radius: 16px;
    box-shadow:
        0 0 30px rgba(0, 255, 255, 0.25),
        inset 0 0 40px rgba(0, 0, 0, 0.6);

    overflow: hidden;
}

/* overlay*/
.game-container::after {
    content: "";
    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            to bottom,
            rgba(255,255,255,0.03),
            rgba(0,0,0,0.25)
        );

    pointer-events: none;
}

/*canvas*/
canvas {
    position: absolute;
    top: 0;
    left: 0;

    /* Amélioration visuelle */
    image-rendering: pixelated;
}

.game-container {
    animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.97);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.leaderboard-ui {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    width: 240px;
    padding: 12px;

    background: rgba(0, 0, 0, 0.7);
    border-radius: 12px;

    box-shadow: 0 0 20px rgba(0,255,255,0.3);
    color: white;

    font-family: 'Segoe UI', Arial;
}

.leaderboard-ui h2 {
    text-align: center;
    color: #00fff2;
    margin-bottom: 10px;
}

.leaderboard-ui .player {
    font-family: monospace;
    font-size: 14px;
    padding: 4px 0;
}

.leaderboard-ui .dead {
    color: #777;
}
